{% extends "main/base.html" %}
{% load ratings %}
{%block content%}
<div class="container">
    {% for project in projects %}
    <div class="card">
        <div class="card-body">
            <p><a href="{% url 'project-detail' project.id %}">{{project.title}}</a></p>
            <p>{{project.masterkey.username}}</p>
            <img src="{{project.image.url}}" />
            <p>{{project.post_date}}</p>
            <p>{{project.description}}</p>
            <p>{% ratings project %}</p>
        </div>
    </div>
    {% endfor %}
</div>

{%endblock%}