{% extends "main/base.html"%}
{% load crispy_forms_tags %}
{%block content%}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group" style=" font-family: 'Odibee Sans', cursive;">
            <legend class="border-bottom- mb-4">Login Now
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-secondary" type="submit"
                style="  font-family: 'Odibee Sans', cursive;">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted" style="  font-family: 'Odibee Sans', cursive;">
            Need an Account? <a class="ml-2" href="{% url 'register' %}">Go register</a>
        </small>
    </div>
</div>


{%endblock%}