{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load ratings %}
{% block content %}

<section>
    <div class="content-setion">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h1 class="account-heading" style="  font-family: 'Odibee Sans', cursive;">{{ user.username }}</h1>
                <p class="text-secondary" style=" font-family: 'Odibee Sans', cursive; ">{{ user.profile.bio }}</p>
                <p class="text-secondary" style=" font-family: 'Odibee Sans', cursive; ">{{ user.profile.contact }}</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group" style="  font-family: 'Odibee Sans', cursive;">
                <legend class="border-bottom- mb-4" style="font-family: 'Odibee Sans', cursive;  ">Update Profile Photo,
                    Contact info and Bio</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-secondary" type="submit"
                    style=" font-family: 'Odibee Sans', cursive; ">Update</button>
            </div>
        </form>
    </div>
</section>

<h2 style="  font-family: 'Odibee Sans', cursive;">View and rate my Projects</h2>

<section>
    <div class="container">
        {% for repo in repos %}
        <div class="card">
            <div class="card-body">
                <img src="{{repo.image.url}}" style="height: auto; width: 100%;">
                <p style="  font-family: 'Odibee Sans', cursive;">{{repo.title}}</p>
                <p style="font-family: 'Odibee Sans', cursive;">{{repo.description}}</p>
                <p>{% ratings repo %}</p>
            </div>
        </div>
        {%endfor%}
    </div>
</section>
{% endblock content %}